#divHead{
    background-color: rgb(38, 50, 117);
    text-align: center;
}

#h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    color:rgb(167, 165, 165);
}

#p1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color:rgb(131, 131, 131);
}

body{
    margin:0px;
    padding:0px;
    background-color: rgb(54, 70, 160);
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text{
    display: flex;
}

#table1{
    padding:10px;
    background-color:rgb(28, 37, 88);;
    color:rgb(206, 206, 212);
}

#table2{
    padding:10px;
    background-color: rgb(28, 37, 88);;
    color:rgb(206, 206, 212);
}

#table3{
    padding:10px;
    background-color: rgb(28, 37, 88);;
    color: rgb(206, 206, 212);
}