h1{
    text-align: center;
    margin-bottom:20px;
    padding: 5px;
    font-weight: bold;
    color: rgb(177, 177, 247);
    font-size: 4rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgb(70, 70, 252);
    min-height: 100vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ramka{
    background-color: rgb(103, 103, 241);
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px auto;
}

#formularz{
    width: 1000px;
    height: 600px;
    position: relative;
    padding:0;
}

#formularz img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.pole-danych{
    position: absolute;
    z-index: 2;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}