header{
    background-image: url("../images/index/banner.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;

}

main{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin:0;
    padding: 0;
    background-color: rgb(28, 37, 88);
}

.naglowki{
    display:inline-block;
}

.naglowki:hover{
    color:brown;
}

#projektyNieParzyste{
    background-color: rgb(101, 163, 163);
    box-shadow: 10px 10px 15px;
}

#projektyParzyste{
    background-color: rgb(108, 180, 180);
    box-shadow: 10px 10px 15px;
}
